import angular from 'angular';
import routes from './routes';
import {{options.entity}}Ctrl from './{{options.entity}}/{{options.entity}}.controller';
import {{options.entity}}Srv from './{{options.entity}}/{{options.entity}}.service';

const exports = {name: '{{options.name}}'};

angular.module(exports.name, [])
    .controller('{{options.entity}}Ctrl', {{options.entity}}Ctrl)
    .service('{{options.entity}}Srv', {{options.entity}}Srv)    
    .config(routes);

export default exports;