import {{options.entity}}Html from './{{options.entity}}/{{options.entity}}.html';
import {{options.entity}}Ctrl from './{{options.entity}}/{{options.entity}}.controller';

function routes($stateProvider) {

  $stateProvider
    .state('{{options.entity}}', {
      url: '/{{options.entity}}',
      template: {{options.entity}}Html,
      controller: {{options.entity}}Ctrl,
      controllerAs: 'vm'
    })
}

export default routes;